html {
    padding: 0;
    margin: 0;
    background-color: #0D151E;
    width: max-content;
	height: max-content;
	overflow: auto;
	scrollbar-gutter: stable;
	scrollbar-color: #4e525a #2b2c31;
}

ul {
    list-style: none;
    margin: 0;
}

div.popupmenu {
    display: flex;
    padding: 0;
    margin-bottom: 12px;
}

ul.menu-l {
    float:left;
    padding-left:6px;
}

ul.menu-r {
    float:left;
    padding-left:16px;
}

details {
    margin-bottom: 16px;
	
}

summary {
    cursor: pointer;
}

button {
    cursor: pointer;
}

button.button {
    padding: 3px 8px;
    font-size: 9pt;
}

button.button {
	background: #2b2c31;
	background: linear-gradient(to bottom, #4e525a, #2b2c31);
	box-shadow: 0.5px 1px 2px rgba(255, 255, 255, 0.45), inset 0.5px 1px 1px rgba(255, 255, 255, 0.5);
	border-color: #34373b;
	text-shadow: none;
	color: #F9F9F9;
}
button.button:hover {
	background: #3e4149;
	background: linear-gradient(to bottom, #646877, #3e4149);
	border-color: #50555b
}
button.button:active {
	background: #2b2c31;
	background: linear-gradient(to bottom, #2b2c31, #4e525a);
	border-color: #34373b;
	box-shadow: 0.5px 1px 2px rgba(255, 255, 255, 0.45);
}

button.active {
	background: #0b1750;
	background: linear-gradient(to bottom, #153f93, #0b1750);
	border-color: #0e3262;
}

button.active:hover {
	background: #112b74;
	background: linear-gradient(to bottom, #1b3fc0, #112b74);
	border-color: #165098;
}

button.active:active {
	background: #0b1750;
	background: linear-gradient(to bottom, #0b1750, #153f93);
	border-color: #0e3262;
}

#btn-power {
    display: flex;
    padding: 4px;
	margin-left: auto;
}


strong {
    color: #579;
}

input.textbox {
    width: 100px;
    border: 1px solid #AAAAAA;
    border-radius: 3px;
    padding: 2px 3px;
    font-size: 9pt;
}

input.textbox {
	border-color: #6b7178;

	/* box-shadow: inset 0px -1px 2px #606060, -1px -1px 0 rgba(255,255,255,.2); */
	box-shadow: inset 0.5px 1px 2px rgba(0, 0, 0, 1), inset -0.5px -1px 1px rgba(255, 255, 255, 0.2), -0.5px -1px 1px rgba(255, 255, 255, 0.1);
	background: #222527;
	color: #DDD;
}
input.textbox:hover {
	border-color: #8d959f;
	box-shadow: inset 0.5px 1px 2px rgba(0, 0, 0, 0.8), inset -0.5px -1px 1px rgba(255, 255, 255, 0.5), -0.5px -1px 1px rgba(255, 255, 255, 0.1);
	background: #111111;
}
input.textbox:focus {
	outline: 1px solid #6295bc;
	border-color: #9199a2;
	/* box-shadow: 0px 0px 4px #88CCFF, 0px 0px 6px #88CCFF; */
}
input.textbox:focus {
	background: #111111;
	/* box-shadow: inset 0.5px 1px 2px rgba(0, 0, 0, 0.8), inset -0.5px -1px 1px rgba(255, 255, 255, 0.5), 0px 0px 4px #88CCFF, 0px 0px 6px #88CCFF; */
}

button.option {
    width: 100%;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 2px 5px;
	margin: 0;
	font-size: 9pt;
	text-align: left;
	overflow: hidden;
}

button.option {
	color: #DDD;
	box-shadow: none;
}
button.option.cur {
	border-color: #999999;
}
button.option:hover,
button.option.cur:hover {
	border-color: #777777;
	background-color: rgba(100, 100, 100, 0.5);
	color: #FFFFFF;
}
